{
  "Version":"2012-10-17",
  "Statement":[
     {
        "Effect":"Allow",
        "Action":[
           "logs:CreateLogGroup",
           "logs:CreateLogStream",
           "logs:PutLogEvents"
        ],
        "Resource":"*"
     },
     {
        "Action":[
           "s3:GetObject",
           "s3:GetObjectTagging",
           "s3:PutObjectTagging",
           "s3:PutObjectVersionTagging",
           "s3:DeleteObject*"
        ],
        "Effect":"Allow",
        "Resource": ${ jsonencode([for bucket-name in bucket-names: "arn:aws:s3:::${bucket-name}/*"]) }
     },
     {
        "Action":[
           "s3:GetObject",
           "s3:GetObjectTagging"
        ],
        "Effect":"Allow",
        "Resource": [
          "arn:aws:s3:::${ antivirus-definitions-bucket-name }/*"
        ]
     },
     {
        "Action":[
           "kms:Decrypt"
        ],
        "Effect":"Allow",
        "Resource": ${ jsonencode([for bucket-name in bucket-names: "arn:aws:s3:::${bucket-name}/*"]) }
     },
     {
        "Action":[
           "sns:Publish"
        ],
        "Effect":"Allow",
        "Resource": [
          "arn:aws:sns:::<av-scan-start>",
          "arn:aws:sns:::<av-status>"
        ]
     }
  ]
}
